
<%- include('partials/header') %>


<div class="container mt-5">
    <div class="jumbotron centered">
        <div class="container">
          <!-- <i class="fas fa-key fa-6x"></i> -->
          <h1 class="display-3">Blogging</h1>
          
          <hr />
          <div class="button">
          <a class="btn btn-light btn-lg" href="/register" ><button> Register </button></a>
          <a class="btn btn-dark btn-lg" href="/login" > <button> Login  </button></a>
        </div>
        </div>
      </div>
</div>

</body>
</html>





