<%- include('partials/header') %>
    <div>
    <h1>List of Users</h1>
    <ul>
      <% users.forEach(function(user) { %>
        <li><%= user.name %> (<%= user.email %>)</li>
      <% }); %>
    </ul>
</div>
<div>
    <form class='form' action="/user" method="POST">
        <input class="input" type="text" placeholder="Name" name="name" autocomplete="off" />
        <input class="input" type="text" placeholder="Username" name="email" autocomplete="off" />
        <input class="input" type="password" placeholder="Password" name="password" autocomplete="off" />
        <button class="btn btn-dark btn-lg enter">Enter</button>
      </form>
</div>

<a href="/blog" ><button>My Blogs</button></a>
<a class="btn btn-light btn-lg logout" href="/logout" role="button">Log Out</a>
  </body>
</html>
