*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
   
}
/* .buttons{
    display: flex;
    flex-direction: row;
    
}
.buttons a{
margin: 2rem 0;
} */